<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Football Network</title>

	<link rel="stylesheet" href="body.css">
	<link rel="stylesheet" href="cabecera.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

	<body>

		<header class="header-basic">

			<div class="header-limiter">

				<h1><a href="/home">Football  <span>Network</span></a></h1>

				<nav>
					<a href="/players">Players</a>
					<a href="/scouting">Scouting</a>
					<a href="/user">User</a>
				</nav>
			</div>

		</header>

		<!-- Body de la pagina -->
		

	</body>
	<table>
		{{#players}}
		 <tr>
		 <td>{{-index}}</td>
		 <td>{{.}}</td>
		 </tr>
		 {{/players}}
		 </table>
</html>