<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Football Network</title>

	<link rel="stylesheet" href="/body.css">
	<link rel="stylesheet" href="/cabecera.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

	<body>

		<header class="header-basic">

			<div class="header-limiter">

				<h1><a href="/home">Football  <span>Network</span></a></h1>

				<nav>
					<a href="/players">Players</a>
					<a href="/scouting">Scouting</a>
					<a href="/user">User</a>
				</nav>
			</div>

		</header>

		<!-- Body de la pagina -->
		
		<div class="newPlayer">
			<form action="players/new" method="post">
				<div class="playerOptions">
				<p>Name: <input type='text' name='name'/></p>
				<p>Surname: <input type='text' name='surname'/></p>
				<p>Position: <input type='text' name='position'/></p>
				<p>Rating: <input type='number' name='rating'/></p>
				<p>Team: <input type='text' name='team'/></p>
				</div>
				<div class="contractOptions">
				<p class="ContractTitle">Contract:</p>
				<p>Years: <input type='number' name='years'/></p>
				<p>Money: <input type='number' name='money'/></p>
				</div>
				<input class="button" style="cursor: pointer; height: 70px;width : 300px; font-size: 40px" type='submit' value="CREATE"/>
			</form>
		</div>
		 
	</body>

</html>

